<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Partage ton expérience sur l'éducation d'aujourd'hui, contribue à la révolution de demain.">
    <meta name="author" content="retournelamphi">
    <link rel="icon" href="/images/favicon.ico">
    <title>Retourne L'amphi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css"/>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl as main" ng-cloak>

<div class="container">
    <p><img class="logo" src="/images/logo.svg" alt="logo"></p>

    <h1 class="cover-heading" style="padding-bottom: 10%">Retourne L'amphi</h1>
    <h5>Partage ton expérience sur l'éducation d'aujourd'hui, contribue à la révolution de demain.</h5>

    <form class="signup-form" ng-submit="main.submit()">
        <div class="input-group input-group-md" ng-class="{'has-error': main.formError}">
            <input type="email" class="form-control transparent-input" placeholder="Adresse email" ng-model="main.email"
            ng-disabled="main.submitted">
            <span class="input-group-btn">
              <button class="btn btn-success btn-rl" type="submit" ng-disabled="main.submitted">Je participe</button>
            </span>
        </div>
    </form>
    <span class="count" count-to="{{main.count}}" value="0" duration="1"></span>  personnes retournent déjà l'amphi


    <div style="align-items: center; padding-top: 60px">
        <a href="https://github.com/retournelamphi"><i class="fa fa-github fa-2"></i></a>
        <a href="https://www.facebook.com/retournelamphi/"><i class="fa fa-facebook fa-2"></i></a>
        <a href=""><i class="fa fa-twitter fa-2"></i></a>
    </div>

    <p>
        Brought to you with <i class="fa fa-heart"></i> by students
    </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>
