[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

html,
body {
    color: #e8e8e8;
    text-align: center;
}

h1 {
    color: #fff;
    font-size : 65px;
}

h2 {
    font-size : 20px;
    color: black;
    font-weight: bold;
}

h3 {
    font-size : 18px;
    color : black;
    text-align: justify;

}

h5 {
    font-size : 22px;
    font-weight: bold;
}

.container {
    background-image: url(../images/background.png);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poiret One', cursive;
    position: fixed;
    z-index: -9999;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.container:after{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: -9998;
    background:rgba(0,0,0,0.6);
    opacity:0.6;
}

.modal {
    color: #000000;
    margin:auto auto;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    border-radius: 5%;
}

.alert .close {
    font-size: 15px;
}

a.more-btn.btn {
    top:0;
    left: 0;
    position: fixed;
    color: white;
}

a.more-btn.btn :hover{
    color: white;
}

.input-group {
    max-width: 450px;
    margin: 0 auto 20px;
}

.alert {
    max-width: 450px;
    margin: -15px auto 10px;
    padding: 5px;
    font-size: 13px;
}

.center {
    float: none;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    background: url('../images/logo.svg');
    display: block;
    top: 15px;
    width: 180px;
    height: 180px;
    background-size: 180px 180px;
}

.built-with {
    max-width: 360px;
    margin: 40px auto 0;
}

.thumbnail {
    background: transparent;
    border: 0;
    opacity: 0.8;
}

.thumbnail:hover {
    opacity: 1;
}

.has-error .form-control {
    box-shadow: none;
}

.signup-form {
    margin-top: 30px;
    font-weight: bold;
}

a,
a:focus,
a:hover {
    color: #FF8C88;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #264348;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.fa-2 {
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 2em;
}

.fa-github:hover {
    color:#323131;
}

.fa-facebook:hover {
    color :#3b5998;
}

.fa-twitter:hover {
    color : #5ea9dd;
}

.toast-bottom-full-width {
    padding-bottom: 20px;
}